body {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
}

strong,
b {
  font-weight: 700;
}

header {
  float: left;
  background-color: white;
  position: fixed;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  z-index: 1;
  overflow-x: hidden;
  height: 100vmax;
  width: 220px;
  box-shadow: 2px 2px 0.625rem rgba(0, 0, 0, 0.2);
}

header div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(180deg, #ffb354 0%, #ee7a3a 100%);
}

header p {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 1rem;
  color: white;
  text-transform: uppercase;
}

header img {
  text-align: center;
}

.navegacao {
  display: flex;
  flex-direction: column;
}

.navegacao li {
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid #e7e7e7;
}

.nav__ativo {
  background: #fdf1eb;
  border-left: 0.312rem solid;
  border-image: linear-gradient(#ffb455, #ed7839) 0 100%;
}

.navegacao .nav__ativo a {
  margin-left: 0.5rem;
}

.navegacao a {
  margin-left: 1rem;
  padding: 0.8rem;
  text-decoration: none;
  color: #725c5c;
}

main {
  font-family: "Quicksand", sans-serif;
  padding-left: 1rem;
}

.cabecalho {
  display: flex;
  background-color: #fdf1eb;
  margin-left: 13rem;
}

.container {
  padding: 0.312rem 2rem;
}

.cabecalho__text h2 {
  font-size: 1.375rem;
  margin: 0.312rem 0;
}

.cabecalho__lang {
  display: flex;
  justify-content: space-between;
  flex-grow: 2;
  align-items: center;
  margin-right: 2rem;
}

.cabecalho__lang__conteudo {
  display: flex;
  align-items: center;
  border: 2px solid #cccccc;
  border-radius: 3px;
  padding: 0.625rem;
}

.border__style {
  border: 2px solid #ececec;
}

.cabecalho__lang__conteudo img {
  margin-right: 0.125rem;
}

.cabecalho__lang__conteudo select {
  border: none;
  background: transparent;
}

.cabecalho__profile {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  text-align: end;
  margin-top: 1rem;
}

.notification {
  background-color: #ee7a3a;
  color: white;
  font-weight: 700;
  position: relative;
  height: 1.5rem;
  right: 0.935rem;
  border-radius: 50%;
  font-family: "Roboto";
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.6rem;
}

.cabecalho__profile img {
  height: 3rem;
  width: 3rem;
}

.cabecalho__profile p {
  margin-right: 1rem;
}

.titulo {
  font-family: "Roboto", sans-serif;
}

.titulo__principal {
  font-size: 1.25rem;
  color: #ed7839;
  font-weight: 700;
  margin: 1rem 0;
}

.video__detalhes {
  display: flex;
  margin: 1rem 0;
}

.video__conteudo {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-left: 13rem;

  margin-right: 2rem 3rem;
}

.video__conteudo img {
  width: 95%;
}

.detalhes__botoes {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: end;
  margin-right: 1.5rem;
}

.detalhes__botoes .link__text {
  color: #ED7839;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.2rem;
  margin: 0.7rem 0;
}

.detalhes h2 {
  border-bottom: 1px solid #ececec;
}

.titulo__colorido {
  background-color: #fdf1eb;
  color: #4e4e4e;
  font-size: 1.25rem;
  font-weight: 600;
  padding: 1rem;
  border-radius: 3px;
}

.detalhes__box {
  height: 31.875rem;
  overflow: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 5px;
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background: #e7e7e7;
}

::-webkit-scrollbar-thumb {
  background: #bfbfbf;
  border-radius: 8px;
}

.detalhes__box p {
  margin: 0.615rem 0;
}

.autores {
  padding: 1rem 0;
}

.universidades {
  padding-top: 1rem;
}

.autores p,
.universidades p {
  margin: 0;
}

.caixa {
  display: flex;
  flex-direction: column;
  padding: 1rem 1.5rem 0 0;
  margin-left: 13rem;
}

.caixa__conteudo {
  border-top: none;
  padding: 1rem;
  line-height: 1.375rem;
}

.texto__completo {
  display: none;
}

.botao__expandir {
  color: #ed7839;
  font-weight: 600;
  cursor: pointer;
}

.texto__completo p {
  margin-bottom: 3rem;
}

.texto__completo p:last-child {
  margin-bottom: 1rem;
}

.discussoes {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.discussoes__form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.discussoes__form form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.discussoes__form label {
  color: #ed7839;
  font-weight: 600;
  margin-top: 1rem;
}

.discussao__dados {
  padding: 1rem;
}

.editor__texto {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #eaf1f2;
}

.editor__texto img {
  margin-left: 2rem;
}

.editor__texto .enviar__topico {
  padding: 0;
  border: none;
  background: linear-gradient(180deg, #feb154 0%, #f1833e 100%);
  color: white;
  border-radius: 0px 0px 4px 0px;
  padding: 0.625rem 6rem;
  cursor: pointer;
}

.discussoes__form {
  display: none;
}

.discussoes h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 1.375rem;
  line-height: 1.312rem;
  color: #ed7839;
}

.discussoes p {
  line-height: 1.187rem;
  width: 80%;
  text-align: center;
  margin-bottom: 1rem;
}

.discussoes__icones {
  margin: 2rem 0;
}

.discussoes__icones img {
  margin: 0 1rem;
}

.criar__topico__botao {
  display: flex;
  padding: 0.3rem 1rem;
  background: linear-gradient(180deg, #feb254 0%, #f0813d 100%);
  border-radius: 4px;
  position: relative;
  cursor: pointer;
}

.criar__topico {
  margin-left: 8px;
  color: white;
  font-family: "Quicksand";
  font-weight: 600;
  font-size: 1.4rem;
}

.criar__topico:before {
  content: "";
  width: 723%;
  height: 1px;
  background: #e7e7e7;
  position: absolute;
  top: 1.2rem;
  left: -313%;
  right: 0;
  z-index: -1;
}

.novo__topico {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.novo__topico h4 {
  color: #ed7839;
  margin: 1rem 0 2rem 0;
}

.novo__topico a {
  color: #ed7839;
}

.novo__topico .criar__novo__topico {
  margin: 1rem 0;
  padding: 0.3rem 3rem;
  background: linear-gradient(180deg, #feb254 0%, #f0813d 100%);
  color: white;
  border-radius: 4px;
  position: relative;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: 600;
}

.criar__novo__topico:before {
  content: "";
  width: 723%;
  height: 1px;
  background: #e7e7e7;
  position: absolute;
  top: 1.2rem;
  left: -313%;
  right: 0;
  z-index: -1;
}

.caixa__blur {
  position: relative;
  display: flex;
  justify-content: center;
}

.blur {
  filter: blur(5px);
}

.editar__topico {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 11%;
  margin: 0 auto;
  align-items: center;
}

.editar__topico img {
  height: 3rem;
}

.conteudo__novo__topico {
  display: none;
}

.assunto__conteudo__completo {
  display: none;
}

.assunto__conteudo {
  width: 95%;
  margin-top: 1rem;
  border: 1px solid #e7e7e7;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.12);
  padding: 1rem 1rem 0;
}

.assunto__conteudo p {
  text-align: start;
}

.assunto__opcoes {
  display: flex;
  width: 11.25rem;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.discussao__lista {
  margin-top: 1rem;
}

.discussao__card:nth-of-type(odd) {
  background: #f8f8f8;
  border: 1px solid #e7e7e7;
  padding: 0 1rem;
  margin: 0 -1rem;
}

.discussao__card {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
  padding: 0;
}

.discussao__autor {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem 0 1rem 0;
}

.discussao__autor h4 {
  font-weight: 600;
}

.discussao__autor span {
  font-family: "Quicksand";
  color: #ed7839;
  font-weight: 600;
  margin-right: 2rem;
}

footer {
  display: flex;
  border-top: 2px solid #e7e7e7;
  font-family: "Quicksand", sans-serif;
  margin: 1rem 3.5rem 3rem 16rem;
}

footer .container div {
  padding: 0px;
}

footer img {
  height: 5.937rem;
}

footer a {
  background-color: #71488d;
  color: white;
  text-align: center;
  text-decoration: none;
  font-weight: 300;
  padding: 5px 0;
  border-radius: 5px;
}

footer div {
  display: flex;
  flex-direction: column;
}

footer div p {
  margin: 0.9rem 13rem 0.625rem 1.25rem;
}

@media screen and (max-width: 650px) {
  main .container {
    margin: 1rem 0;
    padding: 1rem 0;
  }

  header {
    float: initial;
    position: initial;
    z-index: 1;
    overflow-x: initial;
    height: auto;
    width: auto;
    text-align: center;
    padding-bottom: 2rem;
  }

  main .cabecalho {
    margin: 0rem 0 0 -1rem;
  }

  main .cabecalho__text {
    margin: 1rem;
  }

  .cabecalho, .video__conteudo, .caixa, footer {
    margin-left: 0;
  }

  .cabecalho__lang__conteudo, .cabecalho__profile {
    display: none;
  }

  .video__detalhes {
    flex-direction: column;
    align-items: center;
  }

  .detalhes__botoes {
    width: 90%;
    align-items: center;
    margin-top: 2rem;
  }

  footer {
    flex-direction: column;
    margin: 0;
  }

  footer a {
    align-self: center;
    text-align: center;
    width: 70%;
  }

  footer div p {
    margin: 1rem;
  }

  .criar__topico:before {
    width: 90%;
  }
}

@media screen and (max-width: 1370px) {
  .video__detalhes {
    flex-direction: column;
    align-items: center;
  }
  
  .detalhes__botoes {
    width: 50%;
    align-items: center;
    margin-left: 13rem;
    margin-top: 2rem;
  }

  .criar__topico:before {
    width: 90%;
  }
}
